*{
  font-family: sans-serif;
}

body{
  font-size: 1rem;
  padding: 4vh;
}

input,h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:3rem;
  width:90%;
  padding:10px;
  margin-left:10px;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
  overflow: hidden;
  
}

.card-grid{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.card h3{
  padding:3px;
  text-align: justify;
}

.card img{
  max-height: 170px;
}

.load {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:8rem;
  width:90%;
  padding:10px;
  margin-left:10px;
  color: red;
}

/* All animations will take twice as long to finish */
:root {
  --animate-duration: 2s;
}

/* Only this element will take half the time to finish */
.my-element {
  --animate-duration: 0.5s;
}